#set( $H = '#' )


#foreach ($app in $applications)#set( $doc = $applications[$app].doc )#set( $application_name = $application[$app].name)#set ($application = $applications[$app].name)#if( $doc.has_tag('lib'))* [$application](${application})
#end#end

